@page "/culture"

@using FashionP.Services
@using Microsoft.AspNetCore.Components.Web
@using FashionP.Models
@inject CulService CulService

<PageTitle>Culture</PageTitle>

@code {
    private List<FashionP.Models.Culture> cultures;

    protected override void OnInitialized()
    {
        cultures = CulService.GetCultures();
    }
}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_back_ios,checkroom,diversity_1,forum,home" />
</head>

<div>
    <div class ="title">
        <div class ="text">
            <h1>Culture</h1>
        </div>
        <div class ="image">
            <img src="https://voyapon.com/wp-content/uploads/2016/03/ART28-PHOTO1.jpg" />
        </div>
    </div>

    <div class="TOC">
        <div class="TOCtitle">
            <h2>Table of Contents</h2>
        </div>
        <div class="TOClist">
            <ol>
                @foreach (var culture in cultures)
                {
                    <li>@culture.Name</li>
                }
            </ol>
        </div>
    </div>

    <div class="Cultures">
        @foreach (var culture in cultures)
        {
            <a href="@culture.ImageUrl">
                <div class="cultureCard">
                    <div class="Cimage">
                        <img src="@culture.ImageUrl" alt="@culture.Name" />
                    </div>
                    <div class="desc">
                        <div class="name">
                            <h1>@culture.Name</h1>
                        </div>
                        <div class="description">
                            <p>@culture.Description</p>
                        </div>    
                    </div>
                </div>
            </a>
        }
    </div>
    <div class="navBar">
        <a href="/">
            <div class="button">
                <span class="material-symbols-outlined">
                home
                </span>
            </div>
        </a>
        <a href="/culture">
            <div class="button">
                <span class="material-symbols-outlined">
                diversity_1
                </span>
            </div>
        </a>
        <a href="/forum">
            <div class="button">
                <span class="material-symbols-outlined">
                forum
                </span>
            </div>
        </a>
        <a href="/fashion">
            <div class="button">
                <span class="material-symbols-outlined">
                checkroom
                </span>
            </div>
        </a>
    </div>
</div>
